{% extends 'index.html' %}

{% block content %}
    <div class="container">

        <h2>Actualizar Reserva de Servicio</h2>

        <form action="" method="post">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    
            {{ form.as_p() }}

            <br>
            <br>
            <button type="submit" class="button">Actualizar</button>

        </form>

        <br>

        <a href="{{ '/listar_reservas' }}">Cancelar</a> 

    </div>
{% endblock %}