{% extends 'index.html' %}

{% block content %}

    <div class="container p-5">

        <h2>Actualizar Coordinador</h2>

        <form action="" method="post">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            
            {{ form.as_p() }}

            <br>
            <br>
            <button type="submit" class="btn btn-outline-primary">Actualizar</button>

        </form>

        <br>

        <a href="{{ '/listar_coordinadores' }}" class="btn btn-outline-danger">Cancelar</a> 

    </div>
{% endblock %}
