{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
    <div class='container p-4'>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">LUCAS ROMAN</h5>
      <p class="card-text">+54 9 387 4404472</p>
      <p class="card-text">Backend Dev</p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">MICAELA CHAILE</h5>
      <p class="card-text">+54 9 387 465-3718</p>
      <p class="card-text">Backend Dev</p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">FRANCISCO LOPEZ</h5>
      <p class="card-text">+54 9 387 473-2132</p>
      <p class="card-text">Backend Dev</p>
    </div>
  </div>
</div>
{% endblock %}
