{% extends 'index.jinja' %}

{% block content %}

    <div class="container">

        <h3>Registrar un empleado</h3>

        <form action="" method="post">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            {{ form.as_p() }}

            <br>
            <br>

            <button type="submit" class="button">Registrar</button>


        </form>

    </div>

{% endblock %}