{% extends 'index.html' %}

{% block content %}
<div class="container">

  <h2>Crear Coordinador</h2>

  <form action="" method="post">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

    {% for field in form %}
      {% if field.name == 'fecha_alta' %}
        <div class="field-wrapper"  style="padding: 10px;">
          <label for="{{ field.id_for_label }}" >{{ field.label }}</label>
          <input type="datetime-local" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default('') }}" required>
          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% else %}
        <div class="field-wrapper" style="padding: 10px;">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

    <br>
    <br>

    <button type="submit" class="button">Registrar</button>
  </form>

</div>
{% endblock %}
