{% extends 'index.html' %}

{% block content %}
<div class="container">
  <h2>Listado de Coordinadores</h2>

  <table class="center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Número de Documento</th>
        <th>Fecha de Alta</th>
        <th>Activo</th>
        <th>Acciones a realizar</th>
      </tr>
    </thead>
    <tbody>
      {% for coordinador in coordinadores %}
        <tr>
          <td>{{ coordinador.id }}</td>
          <td>{{ coordinador.nombre }}</td>
          <td>{{ coordinador.apellido }}</td>
          <td>{{ coordinador.numero_documento }}</td>
          <td>{{ coordinador.fecha_alta }}</td>
          <td>{{ coordinador.activo }}</td>
          <td>
            <a href="{{ '/actualizar_coordinador' }}/{{ coordinador.id }}">Actualizar</a>
            {% if coordinador.activo %}
              <a href="{{ '/desactivar_coordinador' }}/{{ coordinador.id }}">Desactivar</a>
            {% else %}
              <a href="{{ '/activar_coordinador' }}/{{ coordinador.id }}">Activar</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <a href="{{ '/crear_coordinador' }}" class="button">Crear Coordinador</a>
</div>
{% endblock %}
