{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <div class=''>

        <h2>Lista de Clientes</h2>
        <div class="table-responsive p-5">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones a realizar</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td scope="row">{{ cliente.id }}</td>
                    <td scope="row">{{ cliente.nombre }}</td>
                    <td scope="row">{{ cliente.apellido }}</td>
                    <td scope="row">
                        {% if cliente.activo %}
                            {{ 'Si' }}
                        {% else %}
                            {{ 'No' }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ '/actualizar_cliente' }}/{{ cliente.id }}" button type="button" class="btn btn-primary">Actualizar</a>
                        {% if cliente.activo %}
                            <a href="{{ '/desactivar_cliente' }}/{{ cliente.id }}" button type="button" class="btn btn-danger">Desactivar</a>
                        {% else %}
                            <a href="{{ '/activar_cliente' }}/{{ cliente.id }}">Activar</a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No hay clientes registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <a href="{{ '/crear_cliente' }}" class="btn btn-outline-primary">Registrar un Cliente</a>
    </div>
{% endblock %}
