{% extends 'index.html'%}

{% block content %}

    <div class='container'>
    
        <h2>Lista de Empleados</h2>

        <div class="form-group mb-2 col col-lg-6">
        
            <table class="center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Numero de Legajo</th>
                        <th>Activo</th>
                        <th>Acciones a realizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.numero_legajo }}</td>
                        <td>
                            {% if empleado.activo %}
                                {{ 'Si' }}
                            {% else %}
                                {{ 'No' }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ '/actualizar_empleado' }}/{{ empleado.id }}">Actualizar</a>
                            {% if empleado.activo %}
                                <a href="{{ '/desactivar_empleado' }}/{{ empleado.id }}">Desactivar</a>
                            {% else %}
                                <a href="{{ '/activar_empleado' }}/{{ empleado.id }}">Activar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <a href="{{ '/crear_empleado' }}" class="button">Registrar un Empleado</a>

        </div>
    </div>

{% endblock %}