<!DOCTYPE html>
<html>
<head>
    <title>Listar Empleados</title>
    <style>
        .btn {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }
        .btn-actualizar {
            background-color: #4CAF50;
        }
        .btn-eliminar {
            background-color: #f44336;
        }
    </style>
</head>
<body>
    <h1>Listado de Empleados</h1>
    <ul>
        {% for empleado in empleados %}
        <li>
            Nombre: {{ empleado.nombre }}<br>
            Apellido: {{ empleado.apellido }}<br>
            Número de Legajo: {{ empleado.numero_legajo }}<br>
            <button class="btn btn-actualizar" onclick="location.href='/actualizar_empleado/{{ empleado.id }}'">Actualizar</button>
            <button class="btn btn-eliminar" onclick="location.href='/eliminar_empleado/{{ empleado.id }}'">Eliminar</button>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
