{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>
    <div class='container p-5'>
    <h2>Equipo de Trabajo</h2>
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Roman, Lucas (Dev en formación)</li>
          <li class="list-group-item">Lopez, Francisco (Dev en formación)</li>
          <li class="list-group-item">Chaile, Micaela (Dev en formación)</li>
        </ul>
      </div>
    </div>
    <a href="{{ 'http://127.0.0.1:8000/' }}" class="btn btn-outline-primary mt-3">Volver home</a>
  </div>
{% endblock %}
